@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Critiquer's Corner</h1>
    <p class="lead">The leading corner of the internet where you can get exclusive access to all of our thoughts regarding the various restaraunt's that we have visited over the years.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           We here at Critiquer's Corner provide quality review to the various restaraunts that we have visited over the years.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more</h2>
        <p>To get the most out of this website, you can also participate by adding restaraunts that you have been through and giving your thoughts on them.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>To guarantee the best dining experience you can get, be sure to check our peer reviewed reviews to ensure that all opinions are of the highest quality.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>