@model RestaurantReviews.Web.Views.Models.ReviewProperties

@{
    ViewBag.Title = ViewBag.restaurant.Name;
}

<h2>Details</h2>

<div>
    <h4>ReviewProperties</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
